@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model PaginatedList<Web.DTO_s.JobIndexDTO>

@{
    ViewData["Title"] = "All Jobs";

}


@if (SignInManager.IsSignedIn(User))
{
    @if (ViewData["CurrentFilter"] == null && Model.Count == 0)
    {
        <h1 class="display-4 text-center">You have no jobs yet!</h1>
        <hr />
        <div class="text-center">
            <a class="btn btn-outline-primary btn-sm col-lg-2 col-md-3" asp-controller="Home" asp-action="Create">Add a Job</a>
        </div>
    }
    else
    {
        @await Html.PartialAsync("_JobStatisticsPartial", Model)
        <div>
            <form asp-action="Index" method="get">
                <div class="form-group search-job-holder">
                    <h6>Search for a Job: </h6>
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control search-input" />
                    <button type="submit" class="btn btn-default">Search <i class="fas fa-search"></i></button>
                    <a asp-action="Index">
                        Reset <i class="fas fa-redo"></i>
                    </a>
                </div>
            </form>
        </div>

        @if (ViewData["CurrentFilter"] != null && !String.IsNullOrEmpty(ViewData["CurrentFilter"].ToString()) && Model.Count == 0)
        {
            <div class="alert alert-danger" role="alert">
                No jobs found for that search.
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table text-center table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["CompanySortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Company</a>
                            </th>
                            <th scope="col">
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["PositionSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Position</a>
                            </th>
                            <th scope="col">
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                    Date Applied
                                    @if (ViewData["DateSortParam"].ToString() == "date_desc")
                                    {
                                        <i class="fas fa-sort-amount-up-alt"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-sort-amount-down"></i>
                                    }
                                </a>
                            </th>
                            <th scope="col">
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Status</a>
                            </th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in Model)
                        {
                            string jobStatus = job.Status == JobStatus.Accepted ? "table-success" : "";


                            <tr class="@jobStatus">
                                <th scope="row">
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@job.JobId" class="action-buttons">
                                        @job.Company
                                    </a>
                                </th>
                                <td>@job.Position</td>
                                <td>@job.DateApplied.ToShortDateString()</td>
                                <td>@job.Status</td>
                                <td class="action-buttons-holder">
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@job.JobId" class="action-buttons">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@job.JobId" class="action-buttons">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@job.JobId" class="action-buttons">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @await Html.PartialAsync("_PaginationPartial", Model)
        }
    }

}
else
{
    @await Html.PartialAsync("_LoggedOutPartial")
}

